{% load static %}

<!doctype html>

{% include 'reservation/includes/inc_header.html' %}

{% block content %}

<main class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <img src="/media/1.jpeg" class="card-img-top">
    <p></p>
    <div class="card-body">

        <p class="card-text fw-lighter" style="font-weight: normal; font-size: 0.90rem;">Решение пришло к нам случайно - не делать ресторан как все, а создать место, где сама концепция не имеет смысла. Это не ресторан. Это что-то иное, каждый гость сам определяет его смысл.</p>
        <p class="card-text fw-lighter" style="font-weight: normal; font-size: 0.90rem;">Мы не умели готовить, но у нас была идея: еда - это искусство, это творчество, это новая искренность, а не выученное клишированное меню. Мы скупили всё подряд на рынке, что привлекало наш взгляд - от гусиного жира до аквариумных сушек.
            И так родилось первое блюдо «Нересторана» - «пищевая лужа». Идея, возможно, несколько странная, но суть понятна: мы отменяем правила и даём волю нашим мимолетным желаниям.</p>
        <p class="card-text fw-lighter" style="font-weight: normal; font-size: 0.90rem;">-Первая посетительница. Когда мы открылись к нам пришла первая гостья. Она спросила: «Что у вас есть в  меню?» Мы ответили: «Здесь нет меню». Она немного растерялась, но через 15 минут заказала «что-то с грибами». Нам стало понятно, что мы на правильном пути.</p>
        <p class="card-text fw-lighter" style="font-weight: normal; font-size: 0.90rem;">- Как нас нашли. «Нересторан» стал местом для тех, кто устал от обычных ресторанов. Тут нет выбора, нет ожиданий - просто приходишь и получаешь нечто неожиданное.Люди приходят не за едой, а за ощущением. Странное, необычное, но в этом и есть вся суть.</p>

        <div class="d-flex gap-2 justify-content-center"> <!-- Используем flexbox и добавляем отступы между кнопками -->
            <a href="{% url 'reservation:about' %}" class="btn btn-sm btn-outline-secondary">Назад</a>
            <a href="{% url 'reservation:main' %}" class="btn btn-sm btn-outline-secondary">На главную</a>
        </div>

    </div>
</main>

{% endblock %}