{% extends 'reservation/home.html' %}
{% load my_tags %}
{% block content %}

<table>
    <tr>
        <th>
            <div class="col-6 btn btn-sm btn-outline-secondary" style="width: 19rem;">
                <img src="/media/chef.jpg" class="card-img-top" alt="...">
            </div>
        </th>
        <th>
            <div class="col-6 btn btn-sm btn-outline-secondary" style="width: 19rem;">
                <h5 class="card-title">Шеф-повар</h5>
                <p class="card-text">Гриша "Шеф Нонсенс"</p>
                <p class="card-text">Обязанности: Разрабатывает уникальные блюда и управляет кухней. Экспериментирует с ингредиентами и новыми техниками. Обучает команду и тестирует новые рецепты.</p>
                <p class="card-text">Биография: Гриша ушёл с должности шефа в традиционном ресторане, чтобы экспериментировать с нестандартными вкусами. Он всегда искал место, где можно было бы выйти за рамки привычной гастрономии. В «Нересторане» он нашёл свободу для своих идей.</p>
            </div>
        </th>
    </tr>

    <tr>
        <th>
            <div class="col-6 btn btn-sm btn-outline-secondary" style="width: 19rem;">
                <img src="/media/somele.jpg" class="card-img-top" alt="...">
            </div>
        </th>
        <th>
            <div class="col-6 btn btn-sm btn-outline-secondary" style="width: 19rem;">
                <h5 class="card-title">Бармен</h5>
                <p class="card-text"> Ира "Всё могу, всё попробую"</p>
                <p class="card-text"> Обязанности: Готовит уникальные коктейли, используя необычные  ингредиенты. Управляет баром и обучает персонал. Создаёт напитки, которые меняют восприятие и настроение гостей. </p>
                <p class="card-text"> Биография: Ира долгое время работала в одном и том же месте, но почувствовала, что застряла в рутине. После этого она ушла, чтобы найти работу, где сможет выражать свои эмоции и креативность. Этим местом стал для неё «нересторан», здесь её идеи оживают в каждом коктейле.</p>
            </div>
        </th>
    </tr>

    <tr>
        <th>
            <div class="col-6 btn btn-sm btn-outline-secondary" style="width: 19rem;">
                <img src="/media/team.jpg" class="card-img-top" alt="...">
            </div>
        </th>
        <th>
            <div class="col-6 btn btn-sm btn-outline-secondary" style="width: 19rem;">
                <h5 class="card-title">Менеджер по клиентскому опыту</h5>
                <p class="card-text">Саша "Психолог Потребностей"</p>
                <p class="card-text">Обязанности: Создаёт уникальный клиентский опыт, управляет атмосферой и обслуживанием. Разрабатывает мероприятия и продумывает разнообразные подходы к гостям.</p>
                <p class="card-text">Биография: Саша изучал поведение людей и искал место, где мог бы использовать свои знания для создания новых и необычных эмоций. В «Нересторане» он нашёл идеальное пространство для экспериментов с клиентским опытом.</p>
            </div>
        </th>
    </tr>

    <tr>
        <th>
            <div class="col-6 btn btn-sm btn-outline-secondary" style="width: 19rem;">
                <img src="/media/chef.jpg" class="card-img-top" alt="...">
            </div>
        </th>
        <th>
            <div class="col-6 btn btn-sm btn-outline-secondary" style="width: 19rem;">
                <h5 class="card-title">Арт-директор</h5>
                <p class="card-text">Лена "Дизайнер Пустоты"</p>
                <p class="card-text">Обязанности: Создаёт уникальный дизайн интерьера и атмосферу ресторана. Работает с декором и визуальными эффектами. Формирует концепцию пространства, подходящую к идее «Нересторана». </p>
                <p class="card-text">Биография: Лена ушла из стабильной карьеры дизайнера после личной творческого кризиса, осознав, что её творчество больше не имеет смысла. В «Нересторане» она нашла возможность выразить свои переживания через необычные пространства, где пустота тоже имеет значение.</p>
            </div>
        </th>
    </tr>

</table>
<p></p>
<div class="d-flex gap-2 justify-content-center"> <!-- Используем flexbox и добавляем отступы между кнопками -->
    <a href="{% url 'reservation:about' %}" class="btn btn-sm btn-outline-secondary">Назад</a>
    <a href="{% url 'reservation:main' %}" class="btn btn-sm btn-outline-secondary">На главную</a>
</div>

{% endblock %}