{% load static %}

  <footer class="mt-auto text-white-50" style="font-weight: normal; font-size: 0.75rem;">
    <p><strong>"НеРесторан" — это место, где правила классического ресторана теряют смысл. Уютная атмосфера,
        неожиданные вкусы, живое общение и свобода быть собой. Здесь нет официозности - только искренность, еда с характером и впечатления, которые останутся с вами навсегда...
        </strong></p>
  </footer>
</div>
<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>

    </body>
</html>